---
BasedOnStyle:                         GNU

ColumnLimit:                          79
IndentWidth:                          2
TabWidth:                             8
UseTab:                               Never
ContinuationIndentWidth:              4

# Indent one space for nested preprocessor directives
IndentPPDirectives:                   AfterHash
PPIndentWidth:                        1

# FOREACH macros treated as statements rather than function calls
ForEachMacros:
  - TAILQ_FOREACH
  - TAILQ_FOREACH_SAFE
  - TAILQ_FOREACH_REVERSE
  - TAILQ_FOREACH_REVERSE_SAFE
  - LIST_FOREACH
  - LIST_FOREACH_SAFE
  - SLIST_FOREACH
  - SLIST_FOREACH_SAFE
  - STAILQ_FOREACH
  - STAILQ_FOREACH_SAFE
  - CIRCLEQ_FOREACH
  - RB_FOREACH
  - proc_foreach
  - proc_foreach_safe

# Newline before braces and indent for C-like statements
# Return type on its own line before rest of function definition
BreakBeforeBraces:                    GNU
AlwaysBreakAfterReturnType:           AllDefinitions
PointerAlignment:                     Right

# Space after type cast and space before function call parens
SpaceAfterCStyleCast:                 true
SpaceBeforeParens:                    Always

AlignEscapedNewlines:                 Left
AllowShortFunctionsOnASingleLine:     None
AllowShortIfStatementsOnASingleLine:  Never
AllowShortLoopsOnASingleLine:         false
AllowShortBlocksOnASingleLine:        Never
AllowShortCaseLabelsOnASingleLine:    false
AlignConsecutiveMacros:               true
AlignTrailingComments:                false

# Don't sort include order to prevent conflicts
SortIncludes:                         Never
IncludeBlocks:                        Preserve

ReflowComments:                       false
BreakStringLiterals:                  false

RemoveBracesLLVM:                     true
InsertBraces:                         false

MaxEmptyLinesToKeep:                  1
KeepEmptyLinesAtTheStartOfBlocks:     false
IndentCaseLabels:                     false
IndentGotoLabels:                     false
BreakBeforeBinaryOperators:           NonAssignment
AlignAfterOpenBracket:                Align
BinPackArguments:                     true
BinPackParameters:                    true

# clang-format classifies C source files using block syntax as
# Objective-C; Ensure source code identified as Objective-C inherits
# the same format
---
Language:                             ObjC
ObjCBlockIndentWidth:                 2
