.DS_Store
*.dylib
*.o
*.dSYM
*.dat
*.ckpt
*~
\#*\#
.\#*
tmp/
build/
xnd_run
xnd_restart
xnd_print
xnd_command
xnd_coordinator
xnd_coordinator_v0
xnd.log
test/bin/
test/inputs/
__pycache__/
benchmarks/
bin/
xnd_launch
xnd_macho_parse
xnd_restart_internal
